.card{
    display:block;

    text-decoration:none;

    background:#1e293b;

    padding:25px;

    border-radius:18px;

    margin-top:20px;

    transition:0.3s;

    border:2px solid transparent;
}

.card:hover{
    transform:translateY(-5px) scale(1.02);

    background:#334155;

    border:2px solid #38bdf8;

    box-shadow:0 0 20px rgba(56,189,248,0.4);
}
